<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Personal Information</h3>
  </div>

  <div class="panel-body">  
    <%= bootstrap_form_for current_user, url: wizard_path do |f| %>
      <h2>Tell us a little about yourself</h2>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :mobile_number %>
        <%= f.text_field :current_location %>
        <%= f.text_field :total_experience %>
        <%= "Priffered location" %><br />
        <%= select_tag "user[country_ids][]", options_for_select(Country.all.collect{|x| [x.name,x.id]}), {:multiple => :multiple, :size => 10} %>

        <%= f.submit "Continue" , :class => 'btn btn-primary' %>
          or <%= link_to "skip this step", next_wizard_path %>
    <% end %>
  </div>  
</div>